.add-finances {
  padding: 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.add-finances input {
  padding: 7px;
  border-radius: 11px;
  border: 1px solid white;
  color: white;
  background-color: transparent;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
  border-image: linear-gradient(to right, #5AB7EA, #a43cff);
  border-image-slice: 1;
  outline: none;
}

.inputs-radios {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  align-items: center;
}

.gain {
  color: green;
}

.spent {
  color: red;
}

.add-finances button {
  border: none;
  padding: 12px;
  border-radius: 8px;
  margin-left: 10px;
  background-color: #5AB7EA;
  color: rgb(255, 255, 255);
  font-weight: 700;
}